.hogwarts-card {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    overflow: hidden;
    width: 280px;
    max-height: fit-content;
    text-align: center; 
    font-family: 'Crismon Pro', serif;
    color: #ffffff;
    border: 2px solid #6f6f6f;
  
    .hogwarts-img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  
    .hogwarts-info {
      padding: 1rem;
      background-color: #1d1d1d;
  
      h3 {
        font-size: 1.1rem;
        margin: 0 0 0.5rem;
      }
  
      p {
        font-size: 0.9rem;
        margin: 0;
      }
    }
  }
  